

@font-face {
    font-family: mainFont;
    src: url(Oswald-VariableFont_wght.ttf);
}


@keyframes gradientAnimation {
    0% {background-position: left;}
    100% {background-position: right;}

}



.bar{
    background-image: linear-gradient(to right,#29a9ff, #5e0fc5);
    background-size: 300%;

    animation-name: gradientAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
    

    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    

    
    min-height: 100px;
    width: 100%;

    flex-wrap: wrap;
}

.bar > a{

    display: flex;
    justify-content: center;
    align-items: center;

    border-width: 4px;
    border-color: rgb(5, 22, 117);
    border-style: solid;

    color: white;

    background-color: #5e0fc5;

    flex: 1 1 120px;
    height: 80px;
    margin: 5px;

    font-size:2rem;

    text-align: center;

}

.stuff {
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}

#siteInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    min-height: 80vh;
    width: 100%;

}

#siteInfo > * {
    width: 100%;

    flex: 1;

    background-size: 100%, 100%;

    display: flex;
    justify-content:space-evenly;
    align-items: center;

    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;

    background-image: linear-gradient(to right, #3e0b81, transparent);
    margin-bottom: 5px;
    transition: all 75ms ease-out;

}

#siteInfo .setRight {
    background-image: linear-gradient(to right, #3e0b81, transparent);
}

#siteInfo .setLeft {
    background-image: linear-gradient(to left, #3e0b81, transparent);
}



/*
#siteInfo > * > *{
    text-align: center;
    font-size: 10vw;
    justify-self: center;
    align-self: center;
    
}
*/
#siteInfo h2 {
    font-size: clamp(2rem, 8vw, 7rem);
}

#siteInfo p {
    font-size: clamp(1rem, 2vw, 2.5rem);
}

.stuff > h2{font-size: 48px;}
.stuff > p {font-size: 32px;}


.startButton {
    position: absolute;
    left: 275px;
    top:  220px;

    width: 100px;
    height: 50px;

    font-size: 40px;
    text-align: center;
    color: white;

    border-color: #5e0fc5;
    border-radius: 5px;
    border-width: 0px;
    box-shadow: none;

    background-color: #5e0fc5;
    
}

.startButton:active{
    background-color: #3e0b81;
}


.gameHolder{
    position: relative;
}

.gameBg{
    position: absolute;
    width: 640px;
    height: 360px;
    
    left: 5px;
    top: 65px;

    background-repeat: no-repeat,no-repeat,no-repeat;
    background-position: top left, top left;
}


#games {
    display: grid;
    margin: auto;

    
    grid-template-columns: auto auto auto auto;
    grid-gap: 50px;

    position: relative;
}

#catPics {
    width: 100%;
    display: grid;

}

#catPics > img {
    border-radius: 1px;
    border-color: #29a9ff;
    border-width: 2px;

}

.fullScreen {

    position: absolute;

    width: 50px;
    height: 50px;

    right: 10px;
    bottom: 15px;

    font-size: 40px;
    text-align: center;
    color: white;

    border-color: #5e0fc5;
    border-radius: 5px;
    border-width: 0px;
    box-shadow: none;
    opacity: 0.8;

    background: url('Images/Fullscreen.png') no-repeat center center / cover #5e0fc5;

}

iframe{
    border-style: solid;
    border-color: #29a9ff;
    border-width: 5px;
    border-radius: 5px;
}


a {
    text-decoration: none;
    color: #fff;
    transition: all 75ms ease-out;
}

.bar > a:hover{
    background-color:#29a9ff;
    transform: scale(1.025);
}

#siteInfo>*:hover {
    background-color: #29a9ff
}







body{
    font-family: mainFont, Arial, Helvetica, sans-serif;
    background-color:rgb(27, 27, 27);
    
    color: white;

    margin: 0px;
    
}
